@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PetSoLive</title>

    <meta name="google-site-verification" content="eWJ1V70hKDXQtBXfannf1JqGRcRbSXUXnvaQk7UNeqM" />
    <meta name="description" content="@Localizer["PetSoLive Description"]" />
    <meta name="author" content="PetSoLive" />
    <meta name="robots" content="index, follow" />
    <meta name="theme-color" content="#343a40" />
    <meta name="msapplication-TileColor" content="#343a40" />
    <meta name="msapplication-TileImage" content="~/img/favicon/ms-icon-144x144.png" />
    <meta name="msapplication-config" content="~/img/favicon/browserconfig.xml" />

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/adoption.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/helpRequest.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/lostPetAd.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pet.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/veterinarian.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />
    @RenderSection("HeadSection", required: false)
</head>
<body class="d-flex flex-column min-vh-100">
    @await Html.PartialAsync("_Navbar")
    <div class="container pt-3 flex-grow-1">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @await Html.PartialAsync("_Footer")
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
